@model ListaDeTarefas.Models.Tarefas;

@{
    ViewData["Title"] = "Delete";
}


<h2>Excluir Tarefa</h2>

<div>
    <p>Você tem certeza que deseja excluir a tarefa abaixo?</p>
    <p>Nome da Tarefa: @Model.NomeDaTarefa</p>
</div>

<form asp-action="ConfirmDelete" asp-route-id="@Model.Id" method="post">
    <button type="submit" class="btn btn-danger">Confirmar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>