@model List<ListaDeTarefas.Models.Tarefas>

<h1>Tarefas Concluídas</h1>

@foreach (var tarefa in ViewBag.TarefasConcluidas)
{
    <div>
        Id: @tarefa.Id
        <br />
        Nome da Tarefa: @tarefa.NomeDaTarefa
        <br />
        Status da Tarefa: @tarefa.Status
    </div>
}
