@{
    ViewData["Title"] = "Home Page";
}

<br />

<style>
    .center-image {
        display: flex;
        justify-content: center;
        display: flex;
        justify-content: center;
    }

    .img{
        width: 500px;
    }

    .paragrafo {
        margin-top: 100px
    }
</style>


<div class="center-image">
    <img class="img" src="https://www.reab.me/wp-content/uploads/2018/12/43029.jpg?x56715" alt="Lista de Tarefas">
</div>


<div class="text-center">
    <h1 class="display-4"><strong>Lista de Tarefas</strong></h1>
</div>


<div class="container nomefinal">
    <p class="paragrafo" >Projeto Desenvolvido por <strong>Leila Vasconcelos ✨</strong></p>
</div>


